language: ruby
cache:
- bundler
install:
- bundle install
rvm:
- 2.1
- 2.2.1
- 2.3.0
notifications:
  email:
    recipients:
    - sensu-plugin@sensu-plugins.io
    on_success: change
    on_failure: always
script:
- bundle exec rake default
- gem build sensu-plugins-aws.gemspec
- gem install sensu-plugins-aws-*.gem
deploy:
  provider: rubygems
  api_key:
    secure: Yl+P21/xvWHf1sjSM+qdSG6r+gmxhf4eEuwH/m94TYqQlI7VR6RQIrKRcwS7e8n6BTNBCDXI+NtQXI2dIOTg8BMfK9qajUH3DpBogL1p8P9jCgXMtzUURd1NN2jta0eBLyaHMCpU91XfGVjiBotDRxyyIRQ0N9T1SD/cMkum5Gc=
  gem: sensu-plugins-aws
  on:
    tags: true
    all_branches: true
    rvm: 2.1
    rvm: 2.2
    rvm: 2.3.0
    repo: sensu-plugins/sensu-plugins-aws
